<!DOCTYPE html>
<html lang="en">

<head>
    <title>Meador executor</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="core.css">
    <script src="index.js"></script>
</head>

<body>
<header>
    <h2 id="header-text">
        <span class="annotation">
            <span class="annotation-text">
                Simple scripting programming language implemented in Java. 
                <br/>

                Already added features:
                <ul>
                    <li><pre>The switch operator</pre></li>
                    <li><pre>Data structures</pre></li>
                    <li><pre>Conditional expressions</pre></li>
                    <li><pre>Boolean expressions</pre></li>
                    <li><pre>Conditional operators</pre></li>
                    <li><pre>Prefix & postfix unary operators</pre></li>
                    <li><pre>The for loop operator</pre></li>
                    <li><pre>String type</pre></li>
                    <li><pre>String literals</pre></li>
                    <li><pre>String concatenation</pre></li>
                </ul>
            </span>

            <span class="annotation-symbol">
                meador.
            </span>
        </span>
    </h2>
</header>

<div id="wrapper">
    <textarea autofocus id="input" placeholder="Enter your code here..."></textarea>
    <textarea readonly id="output" placeholder="program output: >"></textarea>
    <button id="execute" class="button-19" role="button">run!</button>
</div>

</body>

</html>